@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
  --lseg-blue: #001eff;
  --text-message-color: rgb(67, 66, 66);
  --chatbot-bubble-message-color: #c2ddfa48;
  --chatbot-option-hover-color: #d1e4f927;
}

/* @media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
} */

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
}
